## hotkeyd daemon script
##
## developed by benjamin bolton
## https://bennybolton.com/
## license: GPLv3

[Unit]
Description=Key Daemon

[Service]
Type=simple
ExecStart=/usr/bin/hotkeyd

[Install]
WantedBy=multi-user.target
